.footer {
    background-color: $white;
    margin-top: 30px;
    padding: 0;
    
    &-top {
        border-top: 1px solid $border;
        padding-top: 30px;
        padding-bottom: 15px;
        padding-left: 20px;
        padding-right: 20px;
    }

    &-bottom {
        border-top: 1px solid $border;
        padding: 15px;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;

        .go-top {
            @include font-size(25px);
            color: $brand;
            cursor: pointer;
            @include transition(color .3s ease);

            &:hover {
                color: $gray;
            }
        }
    }

    .column {
        h4 {
            font-weight: bold;
            @include font-size(14px);
            color: $gray;
            margin-bottom: 20px;
        }

        &-links {
            h4 {
                margin-bottom: 16px;
            }
        }

        &-form {
            margin-left: auto;

            .columns {
                margin-bottom: 6px;
            }

            .input {
                border-radius: 0;
                @include font-size(14px);
                color: $footer_input;
                height: 42px;
                border: 1px solid $footer_input_border;
                outline: none;
                box-shadow: none;
                @include transition(border .3s ease);

                &:active,
                &:focus {
                    border-color: $light_gray;
                }

                &.error {
                    border-color: $error;
                }
            }

            button {
                @include font-size(16px);
                height: 40px;
                width: 100%;
                font-weight: 600;
                border-radius: 0;
                
                &.is-dark {
                    @include transition(background-color .3s ease);
                    background-color: $black;
                    color: $white;

                    &:hover {
                        background-color: $brand;
                    }
                }
            }

            label.error {
                @include font-size(13px);
                line-height: 1.4;
                padding-top: 2px;
                color: $error;
                display: block;
            }
        }

        ul.footer-links {
            li {
                a {
                    @include font-size(14px);
                    color: $footer_link;
                    line-height: 1.4;
                    @include transition(color .3s ease);

                    &:hover {
                        color: $gray;
                    }
                }

                + li {
                    margin-top: 6px;
                }
            }
        }
    }
}

// Mobile
@media screen and (max-width: $mobile) {
    .footer {
        &-top {
            padding-top: 20px;
        }

        .column {
            h4 {
                text-align: center;
                margin-top: 10px;
            }

            ul.footer-links {
                li {
                    text-align: center;
                }
            }

            &-form {
                max-width: 360px;
                margin-left: auto;
                margin-right: auto;

                .columns {
                    .column + .column {
                        padding-top: 6px;
                    }
                }
            }
        }
    }
}

// Tablet
@media screen and (min-width: $tablet) {
    .footer {  
        margin-top: 50px;

        &-top {
            padding-top: 40px;
            padding-bottom: 20px;
        }

        &-bottom {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}

// Desktop
@media screen and (min-width: $desktop) {
    .footer {  
        &-top {
            padding-left: 0;
            padding-right: 0;
        }

        &-bottom {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
