.hero {
    min-height: $hero_height_mobile;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(270deg, $hero_gradient_1 0%, $hero_gradient_2 100%);

    &::before {
        content: '';
        width: $hero_left_col_width_mobile;
        position: absolute;
        top: 0;
        bottom: 0;
        left: auto;
        right: 0;
        background-color: $hero_black_bg;
    }

    &-text-bg {
        display: none;
    }

    &-container {
        width: 100%;
    }

    &-left {
        @include transform(translateY(-50%));
        max-width: 210px;
        margin-left: 0;
        position: absolute;
        top: 50%;
        left: 20px;

        &-title {
            color: $gray;
            @include font-size(28px);
            line-height: 1.35;
            font-weight: bold;

            span {
                color: $brand;
            }
        }

        &-desc {
            display: none;
        }

        &-button {
            margin-top: 40px;
            @include font-size(18px);
            height: 54px;
            min-width: 150px;
            font-weight: 600;
            border-radius: 0;
            
            &.is-dark {
                @include transition(background-color .3s ease);
                background-color: $black;
                color: $white;

                &:hover {
                    background-color: $brand;
                }
            }
        }
    }

    &-image {
        @include transform(translateY(-50%));
        position: absolute;
        right: 0;
        top: 50%;
    }
}

// Tablet
@media screen and (min-width: $tablet) {
    .hero {
        min-height: $hero_height_tablet;
        background-image: url(../img/background_pattern.png);
        background-color: $hero_gradient_2;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: fixed;

        &::before {
            width: calc(100% - #{$hero_left_col_width_tablet});
            left: $hero_left_col_width_tablet;
            right: auto;
        }

        &-text-bg {
            display: block;
            position: absolute;
            top: 55%;
            left: calc(#{$hero_left_col_width_tablet} + 80px);
            color: $white;
            word-break: break-all;
            @include font-size(220px);
            line-height: 0.84;
            font-weight: 900;
            @include transform(translateY(-50%));
            z-index: 2;

            span {
                white-space: nowrap;
                display: block;
                color: $hero_bg_txt;
                opacity: 0.2;
            }
        }

        &-left {
            max-width: 480px;
            left: 20px;

            &-title {
                @include font-size(42px);
                line-height: 1.24;
            }

            &-desc {
                display: block;
                color: $light_gray;
                @include font-size(15.5px);
                line-height: 1.75;
                margin-top: 30px;
                max-width: 360px;

                br {
                    display: none;
                }
                
                strong {
                    font-weight: bold;
                    color: $light_gray;
                }
            }

            &-button {
                min-width: 220px;
            }
        }

        &-image {
            @include transform(translate(-50%, -50%));
            left: $hero_left_col_width_tablet;
            right: auto;
            top: 50%;

            &::after {
                content: '';
                position: absolute;
                background-color: $white;
                opacity: 0.05;
                left: 50%;
                z-index: -1;
                top: 30px;
                right: 5%;
                bottom: 35px;
            }
        }
    }
}

// Desktop
@media screen and (min-width: $desktop) {
    .hero {
        padding-top: 82px;
        min-height: $hero_height;

        &::before {
            width: calc(100% - #{$hero_left_col_width});
            left: $hero_left_col_width;
        }

        &-text-bg {
            left: calc(#{$hero_left_col_width} + 80px);
        }

        &-left {
            left: 0;

            &-desc {
                max-width: none;

                br {
                    display: block;
                }
            }
        }

        &-image {
            left: $hero_left_col_width;
            top: 56%;
        }
    }
}

// Small desktop
@media screen and (min-width: $desktop) and (max-width: $widescreen)  {
    .hero {
        &-image {
            max-width: 400px;
        }
    }
}

// Big desktop
@media screen and (min-width: $widescreen) {
    .hero {
        &-left {
            &-title {
                @include font-size(50px);
            }

            &-desc {
                @include font-size(16px);
            }
        }
    }
}
