// Mobile navigation
@media screen and (max-width: $desktop - 1) {

    .navbar {
        padding: 2px 0;
        background: $white;
        width: 100%;

        .navbar-brand {
            margin-left: 8px;
        }

        .navbar-burger {
            width: $nav_burger_width;
            margin-right: 20px;

            > span {
                background-color: $gray;
                height: 2.5px;
                width: 100%;
                border-radius: 3px;
                left: 0;

                &:first-child {
                    top: calc(50% - 8px);
                }

                &:nth-child(2) {
                    top: calc(50% - 0px);
                }

                &:nth-child(3) {
                    top: calc(50% + 8px);
                }
            }

            &:hover {
                background-color: transparent;
            }

            &.is-active {
                > span {
                    &:nth-child(1) {
                        @include transform(translateY(6px) rotate(45deg));
                    }
                    &:nth-child(3) {
                        @include transform(translateY(-10px) rotate(-45deg));
                    }
                }
            }
        }

        .navbar-menu {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background-color: $mobile_nav_bg;
            padding: 20px 10px;
            @include transform(translateX(100%));
            @include transition(transform .3s ease);
            display: block !important;
            max-height: calc(100vh - 56px);
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar;

            &::-webkit-scrollbar {
                display: none;
            }

            &.is-active {
                @include transform(translateX(0));
            }


            a.navbar-item {
                @include font-size(20px);
                color: $base;
                font-weight: bold;
                padding-left: 0;
                padding-right: 0;
                margin-left: 10px;
                margin-right: 10px;
                padding-top: 15px;
                padding-bottom: 15px;

                & + .navbar-item {
                    border-top: 1px solid $mobile_nav_separator;
                }
            }
        }
    }

    html.mobile-nav-active {
        overflow: hidden;
        
        body {
            overflow: hidden;
            position: relative;

            &:after {
                content: '';
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: $black;
                position: absolute;
                opacity: 0.6;
            }
        }
    }
}

// Desktop navigation
@media screen and (min-width: $desktop) {
    .container-navbar {
        position: relative;
    }

    .navbar {
        padding: 15px 40px;
        position: absolute;
        margin-left: -40px;
        margin-right: -40px;
        width: calc(100% + 80px);
        background: $white;

        a.navbar-item {
            @include font-size(18px);
            font-weight: bold;
            margin-left: 16px;
            color: $base;

            &::before {
                @include transition(width .3s ease);
                height: 3px;
                content: '';
                position: absolute;
                background-color: $brand;
                bottom: 6px;
                width: 0;
            }

            &:hover {
                background-color: transparent;

                &::before {
                    width: calc(100% - 24px);
                }
            }

            &-logo {
                margin-left: 0;
            }
        }
    }
}
