.blog {
    .container {
        padding: 0 20px;
    }
}

.block-posts {
    margin-top: 30px;

    .post {
        &-item {
            &-img {
                width: 100%;
                display: block;
            }

            &-bottom {
                border: 1px solid $border_light;
                border-top: 0;
                padding: 20px;
            }

            &-title  {
                @include font-size(14px);
                font-weight: bold;
                @include transition(color .3s ease);
                line-height: 1.7;
                margin-bottom: 10px;
                min-height: 60px;

                a {
                    color: $light_gray;
                    @include transition(color .3s ease);
                    display: block;

                    &:hover {
                        color: $brand;
                    }
                }
            }

            &-link {
                font-weight: bold;
                font-weight: 600;
                color: $brand;
                @include font-size(14px);

                .icon {
                    color: $brand;
                    @include font-size(13px);
                    @include transition(margin .3s ease);
                }

                &:hover {
                    .icon {
                        margin-left: 10px;
                        position: relative;
                    }
                }
            }
        }
    }
}

// Mobile
@media screen and (max-width: $mobile) {
    .block-posts {
        .column {
            max-width: 360px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

// Tablet
@media screen and (min-width: $tablet) {
    .block-posts {
        margin-top: 50px;
        .post {
            &-item {
                &-title  {
                    @include font-size(15px);
                    margin-bottom: 10px;
                    min-height: 110px;
                }
            }
        }
    }
}

// Desktop
@media screen and (min-width: $desktop) {
    .blog {
        .container {
            padding: 0;
        }
    }

    .block-posts {
        .post {
            &-item {

                &-bottom {
                    padding-bottom: 30px;
                }

                &-title  {
                    @include font-size(18px);
                    margin-bottom: 10px;
                    line-height: 1.55;
                    min-height: 84px;
                    max-height: 84px;
                    overflow: hidden;
                }

                &-link {
                    @include font-size(16px);
                }
            }
        }
    }
}