.usp {
    background-color: $usp_bg;
    text-align: center;
    padding: 38px 0;

    &-icon {
        color: $brand;
        @include font-size(46px);
        line-height: 60px;
        height: 66px;

        &.icon-leather {
            @include font-size(60px);
        }

        &.icon-warranty {
            @include font-size(48px);
        }
    }

    &-title {
        color: $white;
        @include font-size(14px);
        font-weight: 600;
        margin-top: 20px;
        line-height: 1;
    }
}

// Mobile
@media screen and (max-width: $mobile) {
    .usp {
        position: relative;
        padding: 0;

        .columns {
            width: auto;
            max-width: 360px;
            margin-left: auto;
            margin-right: auto;

            .column {
                padding-top: 38px;
                padding-bottom: 38px;
            }
        }

        &::before {
            content: '';
            top: 50%;
            left: 0;
            right: 0;
            height: 1px;
            background-color: $brand;
            opacity: 0.2;
            position: absolute;
        }

        &::after {
            content: '';
            top: 0;
            left: 50%;
            bottom: 0;
            width: 1px;
            background-color: $brand;
            opacity: 0.2;
            position: absolute;
        }
    }
}

// Tablet
@media screen and (min-width: $tablet) {
    .usp {
        &-title {
            @include font-size(18px);
            margin-top: 15px;
        }

        .column + .column {
            position: relative;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 12px;
                bottom: 12px;
                width: 1px;
                background-color: $brand;
                opacity: 0.2;
            }
        }
    }
}
