// Bulma variables
$family-primary: 'Montserrat', sans-serif;
$fullhd: 1354px;
$mobile: 768px;

// Variables
// Colors
$base: #2E2E2E;
$white: #FFFFFF;
$black: #000000;
$brand: #C4A37B;
$gray: #3A3A3A;
$light_gray: #5A5A5A;
$border_light: #F4F4F4;
$border: #DFDFDF;
$error: #B00020;

// MOBILE
$nav_burger_width: 27px;
$mobile_nav_bg: #FAFAFA;
$mobile_nav_separator: #E9E9E9;

// USP
$usp_bg: #292929;

// HERO
$hero_height: 700px;
$hero_height_tablet: 500px;
$hero_height_mobile: 315px;
$hero_bg_txt: #3A3A3A;
$hero_black_bg: #242123;
$hero_left_col_width: 56%;
$hero_left_col_width_tablet: 60%;
$hero_left_col_width_mobile: 50px;  // 100% - 50px
$hero_gradient_1: #F7F7F7;
$hero_gradient_2: #EBEBEB; 

// Footer
$footer_link: #ABABAB;
$footer_input: #AEAEAE;
$footer_input_border: #DBDBDB;
